@charset "UTF-8";
/*【尺寸】*/
/*【字體】*/
/*【字體尺寸】*/
/*【品牌識別色彩】*/
/*【設定尺寸】*/
/*【橫向+垂直置中】*/
/*======================================================*/
/*【通用設定】*/
/*使padding與border不會增加總寬度*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #C8C8C8;
}

:-moz-placeholder {
  color: #C8C8C8;
}

::-moz-placeholder {
  color: #C8C8C8;
}

:-ms-input-placeholder {
  color: #C8C8C8;
}

.clearfix {
  clear: both;
}

/*======================================================*/
/*【基底樣式設定】*/
.header {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #27232F;
}

.icon {
  width: 150px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.wrap {
  position: relative;
  width: 100%;
  height: auto;
}

.content {
  position: relative;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Fjalla One", 微軟正黑體;
  font-weight: 500;
  padding: 50px;
}

.unitTitle {
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 20px;
}

.titleList li {
  margin-top: 30px;
  margin-bottom: 60px;
}

.mainTitle_Zh-Tw {
  font-size: 40px;
}

.mainTitle_En {
  font-size: 24px;
}

.titlehr {
  position: relative;
  border-bottom: solid 5px #ffb336;
  width: 100px;
  margin-top: 16px;
}

.secondaryTitle_Zh-Tw {
  font-size: 30px;
}

.secondaryTitle_En {
  font-size: 16px;
}

.tertiaryTitle_Zh-Tw {
  font-size: 20px;
}

.tertiaryTitle_En {
  font-size: 12px;
}

.title_En {
  margin-top: 16px;
}

/*======================================================*/
/*【viColors】*/
.viColorList li {
  display: inline-block;
  margin-right: 30px;
}

.viColor_Tag {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
}

.viColor_Block {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.viColor_Block_Color1 {
  background-color: #ffb336;
}

.viColor_Block_Color2 {
  background-color: #27232F;
}

.viColor_Block_Color3 {
  background-color: #f3f7f7;
}

.viColor_Block_Color4 {
  background-color: #333333;
}

/*======================================================*/
/*【buttomSample】*/
.buttonSample {
  position: relative;
  float: left;
  padding: 5px 25px 5px 25px;
  margin-right: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
}

/*======================================================*/
/*【各配色樣式設定】*/
.wrap_Style1 {
  background-color: #f3f7f7;
}

.wrap_Style1 .unitTitle {
  color: #27232F;
}

.wrap_Style1 .titleList li {
  font-weight: bold;
}

.wrap_Style1 .mainTitle_Zh-Tw {
  color: #27232F;
}

.wrap_Style1 .mainTitle_En {
  color: #27232F;
}

.wrap_Style1 .secondaryTitle_Zh-Tw {
  color: #27232F;
}

.wrap_Style1 .secondaryTitle_En {
  color: #27232F;
}

.wrap_Style1 .tertiaryTitle_Zh-Tw {
  color: #27232F;
}

.wrap_Style1 .tertiaryTitle_En {
  color: #27232F;
}

.wrap_Style1 .viColor_Tag {
  color: #27232F;
}

.wrap_Style1 .viColor_Block {
  border: solid 2px #27232F;
}

.wrap_Style1 .buttonSample {
  border: solid 1px #27232F;
}

.wrap_Style1 .buttonSample_1 {
  color: #27232F;
  background-color: #f3f7f7;
}

.wrap_Style1 .buttonSample_2 {
  color: #f3f7f7;
  background-color: #27232F;
}

.wrap_Style1 .buttonSample_3 {
  color: #27232F;
  background-color: #ffb336;
}

.wrap_Style2 {
  background-color: #333333;
}

.wrap_Style2 .unitTitle {
  color: #f3f7f7;
}

.wrap_Style2 .titleList li {
  font-weight: 500;
}

.wrap_Style2 .mainTitle_Zh-Tw {
  color: #f3f7f7;
}

.wrap_Style2 .mainTitle_En {
  color: #ffb336;
}

.wrap_Style2 .secondaryTitle_Zh-Tw {
  color: #f3f7f7;
}

.wrap_Style2 .secondaryTitle_En {
  color: #ffb336;
}

.wrap_Style2 .tertiaryTitle_Zh-Tw {
  color: #f3f7f7;
}

.wrap_Style2 .tertiaryTitle_En {
  color: #ffb336;
}

.wrap_Style2 .viColor_Tag {
  color: #f3f7f7;
}

.wrap_Style2 .viColor_Block {
  border: solid 2px #f3f7f7;
}

.wrap_Style2 .buttonSample {
  border: solid 1px #f3f7f7;
}

.wrap_Style2 .buttonSample_1 {
  color: #f3f7f7;
  background-color: #333333;
}

.wrap_Style2 .buttonSample_2 {
  color: #f3f7f7;
  background-color: #27232F;
}

.wrap_Style2 .buttonSample_3 {
  color: #27232F;
  background-color: #ffb336;
}

.wrap_Style3 {
  background-color: #27232F;
}

.wrap_Style3 .unitTitle {
  color: #f3f7f7;
}

.wrap_Style3 .titleList li {
  font-weight: 500;
}

.wrap_Style3 .mainTitle_Zh-Tw {
  color: #f3f7f7;
}

.wrap_Style3 .mainTitle_En {
  color: #ffb336;
}

.wrap_Style3 .secondaryTitle_Zh-Tw {
  color: #f3f7f7;
}

.wrap_Style3 .secondaryTitle_En {
  color: #ffb336;
}

.wrap_Style3 .tertiaryTitle_Zh-Tw {
  color: #f3f7f7;
}

.wrap_Style3 .tertiaryTitle_En {
  color: #ffb336;
}

.wrap_Style3 .viColor_Tag {
  color: #f3f7f7;
}

.wrap_Style3 .viColor_Block {
  border: solid 2px #f3f7f7;
}

.wrap_Style3 .buttonSample {
  border: solid 1px #f3f7f7;
}

.wrap_Style3 .buttonSample_1 {
  color: #f3f7f7;
  background-color: #27232F;
}

.wrap_Style3 .buttonSample_2 {
  color: #f3f7f7;
  background-color: #333333;
}

.wrap_Style3 .buttonSample_3 {
  color: #27232F;
  background-color: #ffb336;
}
/*# sourceMappingURL=all.css.map */