/*【尺寸】*/
$max-Width: 768px;

/*【字體】*/
$zh-Tw: 微軟正黑體;
$en: 'Fjalla One';
$fontWeight: 500;
$fontWeight_BrightBackground: bold;
$fontWeight_DarkBackground: 500;

/*【字體尺寸】*/
$baseSize: 10px;
$mainSize_Zh-Tw: $baseSize*4;
$mainSize_En: $baseSize*2.4;
$secondarySize_Zh-Tw: $baseSize*3;
$secondarySize_En: $baseSize*1.6;
$tertiarySize_Zh-Tw: $baseSize*2;
$tertiarySize_En: $baseSize*1.2;

/*【色票變數】*/
$viColor_Black: #333333;
$viColor_Grey: #DBDCDC;
$viColor_Yellow: #ffb336;
$viColor_Blue: #27232F;
$viColor_White: #f3f7f7;
$viColor_Grey: #333333;

/*【設定尺寸】*/
@mixin setSize($width, $height)
{
    width: $width;
    height: $height;
}

/*【橫向+垂直置中】*/
@mixin setCentered()
{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*======================================================*/
/*【通用設定】*/

/*使padding與border不會增加總寬度*/
*,*:before,*:after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

::-webkit-input-placeholder {color: #C8C8C8;}
:-moz-placeholder {color: #C8C8C8;}
::-moz-placeholder {color: #C8C8C8;}
:-ms-input-placeholder {color: #C8C8C8;}

.clearfix{
	clear: both;
}

/*======================================================*/
/*【基底樣式設定】*/

.header
{
    position: relative;
    @include setSize(100%, 300px);
    background-color: $viColor_Blue;
}

.icon
{
    @include setSize(150px, auto);
    @include setCentered();
}

.wrap
{
    position: relative;
    @include setSize(100%, auto);
}

.content
{
    position: relative;
    max-width: $max-Width;
    margin-left: auto;
    margin-right: auto;
    font-family: $en, $zh-Tw;
    font-weight: $fontWeight;
    padding: 50px;
}

.unitTitle
{
    font-size: $baseSize*1.6;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 20px;
}

.titleList li
{
    margin-top: 30px;
    margin-bottom: 60px;
}

.mainTitle_Zh-Tw { font-size: $mainSize_Zh-Tw; }
.mainTitle_En { font-size:  $mainSize_En; }
.titlehr
{
    position: relative;
    border-bottom: solid 5px $viColor_Yellow;
    width: 100px;
    margin-top: 16px;
}
.secondaryTitle_Zh-Tw { font-size: $secondarySize_Zh-Tw; }
.secondaryTitle_En { font-size: $secondarySize_En; }
.tertiaryTitle_Zh-Tw { font-size: $tertiarySize_Zh-Tw; }
.tertiaryTitle_En { font-size: $tertiarySize_En; }

.title_En
{
    margin-top: 16px;
}

/*======================================================*/
/*【viColors】*/

.viColorList li
{
    display:inline-block;
    margin-right: 30px;
}

.viColor_Tag
{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
}

.viColor_Block
{
    display: inline-block;
    vertical-align: middle;
    @include setSize(30px, 30px);
}

.viColor_Block_Color1 { background-color: $viColor_Yellow; }
.viColor_Block_Color2 { background-color: $viColor_Blue; }
.viColor_Block_Color3 { background-color: $viColor_White; }
.viColor_Block_Color4 { background-color: $viColor_Grey; }


/*======================================================*/
/*【buttomSample】*/

.buttonSample
{
    position: relative;
    float: left;
    padding: 5px 25px 5px 25px;
    margin-right: 10px;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
}

/*======================================================*/
/*【Logo來源聲明】*/

.footer
{
    position: relative;
    @include setSize(100%, auto);
    background-color: grey;
}

.statement
{
    position: relative;
    max-width: $max-Width;
    margin-left: auto;
    margin-right: auto;
    font-family: $en, $zh-Tw;
    font-weight: $fontWeight;
    padding: 5px 50px;
}

/*======================================================*/
/*【各配色樣式設定】*/

.wrap_Style1
{
    background-color: $viColor_White;
    & .unitTitle { color: $viColor_Blue; }
    & .titleList li { font-weight: $fontWeight_BrightBackground; }
    & .mainTitle_Zh-Tw { color: $viColor_Blue; }
    & .mainTitle_En { color: $viColor_Blue; }
    & .secondaryTitle_Zh-Tw { color: $viColor_Blue; }
    & .secondaryTitle_En { color: $viColor_Blue; }
    & .tertiaryTitle_Zh-Tw { color: $viColor_Blue; }
    & .tertiaryTitle_En { color: $viColor_Blue; }
    & .viColor_Tag { color: $viColor_Blue; }
    & .viColor_Block { border: solid 2px $viColor_Blue; }
    & .buttonSample { border: solid 1px $viColor_Blue; }
    & .buttonSample_1
        {
            color: $viColor_Blue;
            background-color: $viColor_White;
        }
    & .buttonSample_2
        {
            color: $viColor_White;
            background-color: $viColor_Blue;
        }
    & .buttonSample_3
        {
            color: $viColor_Blue;
            background-color: $viColor_Yellow;
        }
}

.wrap_Style2
{
    background-color: $viColor_Grey;
    & .unitTitle { color: $viColor_White; }
    & .titleList li { font-weight: $fontWeight_DarkBackground; }
    & .mainTitle_Zh-Tw { color: $viColor_White; }
    & .mainTitle_En { color: $viColor_Yellow; }
    & .secondaryTitle_Zh-Tw { color: $viColor_White; }
    & .secondaryTitle_En { color: $viColor_Yellow; }
    & .tertiaryTitle_Zh-Tw { color: $viColor_White; }
    & .tertiaryTitle_En { color: $viColor_Yellow; }
    & .viColor_Tag { color: $viColor_White; }
    & .viColor_Block { border: solid 2px $viColor_White ; }
    & .buttonSample { border: solid 1px $viColor_White; }
    & .buttonSample_1
        {
            color: $viColor_White;
            background-color: $viColor_Grey;
        }
    & .buttonSample_2
        {
            color: $viColor_White;
            background-color: $viColor_Blue;
        }
    & .buttonSample_3
        {
            color: $viColor_Blue;
            background-color: $viColor_Yellow;
        }
}

.wrap_Style3
{
    background-color: $viColor_Blue;
    & .unitTitle { color: $viColor_White; }
    & .titleList li { font-weight: $fontWeight_DarkBackground; }
    & .mainTitle_Zh-Tw { color: $viColor_White; }
    & .mainTitle_En { color: $viColor_Yellow; }
    & .secondaryTitle_Zh-Tw { color: $viColor_White; }
    & .secondaryTitle_En { color: $viColor_Yellow; }
    & .tertiaryTitle_Zh-Tw { color: $viColor_White; }
    & .tertiaryTitle_En { color: $viColor_Yellow; }
    & .viColor_Tag { color: $viColor_White; }
    & .viColor_Block { border: solid 2px $viColor_White ; }
    & .buttonSample { border: solid 1px $viColor_White; }
    & .buttonSample_1
        {
            color: $viColor_White;
            background-color: $viColor_Blue;
        }
    & .buttonSample_2
        {
            color: $viColor_White;
            background-color: $viColor_Grey;
        }
    & .buttonSample_3
        {
            color: $viColor_Blue;
            background-color: $viColor_Yellow;
        }
}
